.NavV ul {
	padding-left: 5px;
}

.NavV ul li {
	float: left;
	background: url(http://y1.ifengimg.com/ifeng/ifeng-index/20160122/spritesize47_w1000_h2000.png) no-repeat -300px -88px;
	width: 43px;
	height: 38px;
	text-align: center;
	line-height: 38px;
}

.NavV ul li a {
	font-size: 14px;
	color: #2b2b2b;
}

.NavV ul li a:hover {
	color: #f54343;
}