.ColBL .Tit02 {
	border-bottom: 2px solid #999;
	line-height: 28px;
	padding-top: 25px;
}

.ColBLLis {
	width: 220px;
	overflow: hidden;
	padding: 14px 0 8px;
}

.ColBLLis ul {
	width: 240px;
}

.ColBLLis ul li {
	float: left;
	width: 57px;
	line-height: 24px;
	height: 24px;
}

.ColBLLis ul li a {
	color: #004276;
}

.ColBLLis ul li a:hover {
	color: #f54343;
	text-decoration: underline;
}

.ColBLPic {
	width: 220px;
	overflow: hidden;
}

.ColBLPic ul {
	width: 240px;
}

.ColBLPic ul li {
	width: 56px;
	float: left;
	padding-bottom: 4px;
}

.ColBLPic ul li a {
	width: 49px;
	height: 29px;
	border: 1px solid #dfdfdf;
	display: block;
}

.ColBLPic ul li a:hover {
	border: 1px solid #e90500;
}

.ColBLPic ul li p {
	color: #6c6c6c;
	text-align: center;
	line-height: 20px;
}

.ColBLBtn {
	margin-top: 4px;
	margin-bottom: 12px;
}

.ColBLBtn a {
	color: #004276;
	line-height: 21px;
}

.ColBLBtn a:hover {
	color: #f54343;
	text-decoration: underline;
}

.ColBLBtn01 {
	background: url(http://y1.ifengimg.com/ifeng/ifeng-index/20160122/spritesize47_w1000_h2000.png) no-repeat 0 -1200px;
	width: 79px;
	height: 21px;
	padding-left: 28px;
}

.ColBLBtn02 {
	background: url(http://y1.ifengimg.com/ifeng/ifeng-index/20160122/spritesize47_w1000_h2000.png) no-repeat -200px -1200px;
	width: 79px;
	height: 21px;
	padding-left: 28px;
}

.ColBLAvt {
	width: 220px;
	height: 350px;
	overflow: hidden;
}

.ColBRAvt {
	width: 750px;
	height: 90px;
	margin-top: 33px;
	overflow: hidden;
}